<iframe
  id="storelocaleframe"
  width="1150"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBOej8qhJ7hV7qTKG5z5Rwy5YyiI5q0KWA&q=goodwill+washington+dc">
</iframe>

<hr/>

<iframe
  id="storelocaleframe"
  width="1150"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBOej8qhJ7hV7qTKG5z5Rwy5YyiI5q0KWA&q=1114+1st+Ave.%2C+New+York%2C+NY+10065">
</iframe>