<div class="header">
    <img src="assets/pics/Redjay_Logo3.png" alt="logo"  />
    <h1>REDJay</h1>
</div>
<hr/>
<h1> About Us </h1>

<app-nav-bar></app-nav-bar>
<hr size="10"/>
<ul>
    <li style="color:white;">Mission Statement: We the founders of REDJay established this project in
        response to a requirement. Albeit, it is more than just a requirement. This 
        is an idea that can be taken forward and built upon. An exchange for people 
        to gain access to clothing whatever be the reason. </li>
    <li style="color:white;">Our team is: R.E.D.Jay(Rahmel, Erick, Darius & Jorge)</li>
    <li style="color:white;">Contact Info: Our phone# is 555-5555 and our email address is redjay@gmail.com (also shown below)</li>
    <li style="color:white;">Our Sponsors: Revature</li>
</ul>
<app-footer id="footer" style="color:white;"></app-footer>