<div class="header">
    <img src="assets/pics/Redjay_Logo3.png" alt="logo"  />
    <h1>REDJay</h1>
</div>
<hr/>
<h1> Home </h1>

<app-nav-bar></app-nav-bar> 
<hr size="10"/>
<h2 style="color:white;">Welcome to REDJay Donations!</h2>
<img src="https://image.shutterstock.com/image-photo/volunteers-sorting-out-donated-clothes-260nw-1845553819.jpg">
<img src="https://www.valleyview.k12.oh.us/docs/district/clothing%20closet%202020.jpg?id=458&width=750">
<img src="https://1.bp.blogspot.com/-68VWVeurNqo/XcwX5I-O4DI/AAAAAAAAIwI/q9I3SsLnLIg1DDMdGyjZcesCWwUUn23awCLcBGAsYHQ/s1600/Clothing%2BDrive.jpg">
<h2 style="color:white;">View inventory, find Locations, or upload items now made easy with our user friendly donations site. </h2>
<hr/>
<h2 style="color:white;">The early bird gets the worm or should we say the clothes? Recently donated clothes are available upon approval and can be selected immediately after. </h2>
<hr/>
<h2 style="color:white;">Maybe you need something on the fly? Look through our inventory for whatever best suits your needs.</h2>
<!--<button (click)="getAllCustomers()"> click me!</button>
<p *ngFor="let c of customersData"> {{c.customerFirstName}} {{c.customerLastName}}</p>-->




<!--<form id  = "addstuff" #AddForm = "ngForm" (ngSubmit) = "addboots(AddForm.value)">


    <input type="text" name = "UploadStyle" ngModel placeholder="Boot Style" />
    <input type="text" name = "UploadBrand" ngModel placeholder="Boot Brand" />

<select name = "UploadSize"  ngModel> 
    <option value="1"> 10.5 men / 12 Women</option>
    <option value="2"> 10 men / 11.5Women</option>
    <option value="3"> 9.5 men / 11 Women</option>
    <option value="4"> 9 men / 10.5 Women</option>
    <option value="5"> 8.5 men / 10 Women</option>
</select>
<select name = "UploadCondition"  ngModel> 
    <option value="1"> New</option>
    <option value="2"> Good</option>
    <option value="3"> Fair</option>
    <option value="4"> Recyclable</option>
    
</select>

<button type="submit"> click me for boot</button>
</form> -->




<!--<button id = "approve" (click)="getAllUsersBoot()"> click boot!</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}


<button id= "approve" (click) = "editUserBoot(b.pkBootsId)" >Approve</button>

</div>-->

<app-footer id="footer" style="color:white;"></app-footer>