h1 {
    /* text-decoration: underline; */
    text-align: center;
    color: rgb(141, 38, 38);
    font-family: "Copperplate", fantasy;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
}